* {
  border: 1px solid black;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: white;
  /* font-size: 70px; */
}

main {
  /* padding-top: 30px; */
}

header {
  background-image: url('/Users/aj/sei-pirates/unit-01/lesson/wireframes-layouts-grid-systems/starter-code/bootstrap/images/car.jpeg');
  width: auto;
  height: 100vh;
  font-family: 'Knewave', sans-serif;
}

.parallax {
  background-image: url(/Users/aj/sei-pirates/unit-01/lesson/wireframes-layouts-grid-systems/starter-code/bootstrap/images/car.jpeg);
  height: 100vh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 30px
}

.sec1 {
  background-color: green;
  align-items: center;
  width: auto;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#aboutP {
  background-color: red;
  height: 200px;
  width: 90%;
}

#aboutUL {
  background-color: red;
  height: 200px;
  width: 80%;
  padding: 0;
}

.sec2 {
  background-color: yellow;
  width: auto;
  height: 100vh;
}

.sec3 {
  background-color: red;
  width: auto;
  height: 100vh;
}

#contactsP {
  background-color: green;
  height: 200px;
  width: 90%;
}

.form {
  background-color: green;
  height: 200px;
  width: 90%;
}

/* tablet */
@media (min-width: 768px) {

}

/* phones */
@media (min-width: 600px){
  /* .navBar {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    background-color: white;
    font-size: 20px;

  } */


  /* header {
    background-image: url('/Users/aj/sei-pirates/unit-01/lesson/wireframes-layouts-grid-systems/starter-code/bootstrap/images/car.jpeg');
    width: auto;
    height: 100vh;
    font-family: 'Knewave', cursive;
  } */

  .parallax {
    background-image: url(/Users/aj/sei-pirates/unit-01/lesson/wireframes-layouts-grid-systems/starter-code/bootstrap/images/car.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sec1 {
    background-color: green;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    display: flex;
    wrap: wrap;
    /* justify-content: center; */
    flex-direction: row;
    /* align-items: center; */
    /* align-content: center; */
    width: 100%;
  }

  .sec3 {
  background-color: red;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }


  #aboutP {
    background-color: red;
    height: 250px;
    width: 30%;
  }

  #aboutUL {
    background-color: red;
    height: 250px;
    width: 30%;
    padding: 0;
  }

  /* .sec2 {
    background-color: yellow;
    width: auto;
    height: 100vh;
  } */



  #contactsP {
    background-color: green;
    height: 200px;
    width: 30%;
  }

  .form {
    background-color: green;
    height: 200px;
    width: 30%;
  }
}
