
html {
  scroll-behavior: smooth;
}

header {
  background-image: url('https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&auto=format&fit=crop&w=1411&q=80');
  width: 100%;
  height: 100vh;
  font-family: 'Knewave', sans-serif;
}

.parallax {
  background-image: url('https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&auto=format&fit=crop&w=1411&q=80');
  height: 100vh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  padding-top: 100px;
}

h2 {
  text-align: center;
  padding-top: 100px;
}

.sec1 {
  background-color: #bab3b3;
  align-items: center;
  width: auto;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#aboutP {
  text-align: center;
  height: 50vh;
  width: 90%;
}

#aboutUL {

  text-align: center;
  height: inherit;
  width: 80%;
}

ul {
  /* list-style-type: none; */
  text-align: center;
  margin-top: 50px;
}

.sec2 {
  background-color: #bab3b3;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

div.carousel-inner{
  /* display: flex;
  justify-content: space-around; */
}

/* .carousel-item {
  margin-right: -135%;
} */
.carousel-item {
  margin-right:0;
}
.card {
  height: 300px;
  width: 203px;
}

.card-image > img {
  height: 200px;
  max-width: 200px;
}

.sec3 {
  background-color: #bab3b3;
  width: auto;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 500px;
}

/* here down */
/* .row {
  display:flex;
  flex-wrap: wrap;
  border:1px solid;
}

.card {
     display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  margin:0 !important;

}

.card .card-title {
  text-align:center;
}

.card .card-image {
/*     border:3px solid green; */
}

/* .card .card-image img {
  height:180px;
  object-fit:cover;
}  */

/* tablet */
@media (min-width: 568px) {

}

/* phones */
@media (min-width: 768px){

  /* .navbar {
    height: 65px;
  } */

  .parallax {
    background-image: url('https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&auto=format&fit=crop&w=1411&q=80');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  beforeprojects {
    background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }

  .parallax2 {
    background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #beforecontacts {
    background-image: url('https://images.unsplash.com/photo-1527490148791-4b3a006b67bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80');
  }

  .parallax3 {
    /* background-image: url('https://images.unsplash.com/photo-1527490148791-4b3a006b67bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80'); */
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sec1 {
    background-color: #bab3b3;
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 50vh;
  }

  .sec2 {
    background-color: #bab3b3;
    width: auto;
    height: 80vh;
  }

  .sec3 {
    background-color: #bab3b3;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  #aboutP {
    height: 50vh;
    width: 40%;
  }

  #aboutUL {
    height: 50vh;
    width: 40%;
  }



  /* .form {
    background-color: green;
    height: 200px;
    width: 30%;
  } */
}
